@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body, *{
    font-size: 16px;
    padding: 10;
    margin: 0;
    text-align: center;
    box-sizing: border-box; /* will not make a box increase w padding */
    /* dont change this */
    font-family:'Prompt', Courier, monospace;

}

.title{
    text-align:center;
    font-size: 100px;
    font-size: auto;
    
}

.container{
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;


}
/* @media only screen and (max-width: 900px) {
.card{

}
} */
/* 900 px 2, 300 px 1,*/

.card{
    height:700px;
    width:400px;
    border: 20px solid black;
    background-color:darkgrey;
    border-radius: 20px;
    flex-wrap: wrap;
    display: flex;
    margin: 8rem 20;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 30px 30px 30px rgb(15, 15, 15);

}

.card-img{
 width: 100%;
 height: 45%;
 object-fit: cover;
}

.card-header{
 font-size:80px;
 margin-top: 1rem;
}

.card-price{
    font-size:60px; 
}

button{
transition: all 0.3s;
}

button:hover{
    transform: scale(1.2) translateY(10px);
    transition-duration: 0.4s;
}
.animation{
    height: 2rem;
    width: 2rem;
    animation: container 5s infinite;
    position: absolute;
  }
@keyframes container{
    0%{
      left: 50%;
      bottom: 10%;
      background-color:red;
    } 
    25%{
      left: 50%;
      bottom: 10%;
      background-color:blue;
      transform: scale(3);
    }
      50%{
        left: 50%;
        bottom: 10%;
        background-color:red;
      } 
    100%{
        left: 50%;
        bottom: 10%;
        background-color:blue;
        transform: scale(3);
      
    }
  }
  




#skotn{
    background-image: linear-gradient(135deg,rgb(169,169,169),rgb(91, 91, 91));
}
#skotn:hover{
    animation-name: shine;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
@keyframes shine{
    0% {background-image: linear-gradient(135deg,rgb(169,169,169),rgb(91, 91, 91));}
    50% {background-image: linear-gradient(135deg,rgb(0, 0, 0),rgb(91, 91, 91));}
    100% {background-image: linear-gradient(135deg,rgb(169,169,169),rgb(91, 91, 91));}
}

#legit{
    background-image: linear-gradient(135deg,rgb(92, 92, 92),rgb(52, 52, 52));
}
#legit:hover{
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
  }
  
 @keyframes rotate {
    0% {
    transform: rotate(0deg);
    }
    25% {
    transform: rotate(15deg);
    }

    75% {
    transform: rotate(-15deg);
    }
    100% {
    transform: rotate(0deg);
    }
}
#ush{
    background-image: linear-gradient(135deg,rgb(52, 52, 52),rgb(20,20,20));
}

#pv{
    background-image:linear-gradient(135deg,rgb(239,96,164),rgb(171, 60, 114));
}

#sshf{
    background-image:linear-gradient(135deg,rgb(250, 152, 165),rgb(242,109,126));
}

#yum{
    background-image:linear-gradient(135deg,rgb(243, 112, 180),rgb(179, 42, 113));
}

#frigid{
    background-image:linear-gradient(135deg,rgb(19, 196, 255),rgb(38, 91, 109));
}

#frozen{
    background-image:linear-gradient(135deg,rgb(0,79,128),rgb(0, 39, 63));
}

#coldlika{
    background-image:linear-gradient(135deg,rgb(121, 171, 188),rgb(81, 116, 128));
}